---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Crist칩bal Carnero Li침치n <span class="text-xl">游녦游낕</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <img src="/cristobal.jpg" alt="Crist칩bal Carnero Li침치n" class="float-left mr-6 w-32 h-32 rounded-full">
          <p class="animate">
            I'm a Software Engineer with more than 15 years of professional experience in designing, building,
            and deploying robust server-side solutions across diverse cloud environments.
          </p>
          <p class="animate">
            My career spans multiple industries, including management consulting, healthcare, energy and utilities,
            video games, and academic research.
          </p>
          <p class="animate">
            I specialize in Backend Development, DevOps, and MLOps, with a strong focus on using AWS for scalable
            cloud solutions. I also possess extensive experience in managing containerized applications with
            Kubernetes and automating machine learning workflows with Kubeflow.
          </p>
          <p class="animate">
            Additionally, I have a solid background in AI development with LLMs, with practical experience using the OpenAI API
            and have contributed to the
            <Link href="https://www.langchain.com/" aria-label="LangChain" external>
              LangChain
            </Link>
            project.
          </p>
          <p>
          </p>
        </article>
        <ul class="animate flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
        <h5 class="animate font-semibold text-black dark:text-white mt-6">
          Expertise
        </h5>
        <ul class="animate list-none mt-4">
          <li>
            Python / FastAPI / Django / Django REST Framework / Flask / Tornado / Celery
          </li>
          <li>
            GitHub Actions / GitLab CICD / Jenkins
          </li>
          <li>
            Amazon Web Services (AWS) / Terraform / Ansible / CDK
          </li>
          <li>
            Postgres / Redis
          </li>
          <li>
            Docker / Kubernetes / Helm / Kubeflow
          </li>
          <li>
            OpenAI's API / LangChain / Instructor
          </li>
          <li>
            Next.js / Vue / Astro
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
